.layout{
  display: flex;
}

.graphContainer {
  display: flex;
  width: 100%;
}

.full {
  canvas{
    max-height: 300px;
  }
}

.half {
  canvas{
    max-width: 50%;
    max-height: 300px;
  }
}


.layout {
  display: flex;
}

.dashboard {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

}
.graphContainer{
  margin-top: 30px;
}

