.MuiTypography-root{
    
      color: #8395a7;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15px;
  
      &:hover {
        background-color: #ee5253;
        cursor: pointer;
        color: blue;
      }
  
      &--selected {
        background-color: darken(white, 5%);
        color: blue;
  
        &:hover {
          background-color: darken(white, 5%);
        }
      }
  }

.MuiPaper-root{
      margin-top: 20px
}