.nav-layout {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  padding-left: 1em;
}

.nav-links {
  padding-right: 1em;
}
