.homepage{
  margin-left: 10%;
  margin-right: 10%;
}

.all-vegetables{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegetable-card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.MuiPaper-root{
  width: 20%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

.image-container{
  img{
    width: 100%;
    height: 200px;
  }
}