@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary-font: "Lato", sans-serif;
$family-font: "Lato", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$primary-color: #4b966c;
$secondary-color: #4b966c;
$links-color: #551b8b;
$background-color: #f5eee4;

.nav-layout {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10;
}

h2 {
  font-family: $primary-font;
  color: white;
}

.sidebarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg {
    color: white;
    font-size: 2em;
  }
}
.sidebar-wrap {
  width: 25%;
}

.sidebard {
  background-color: #57c1aa;
  width: 100%;
  height: 100%;
  position: relative;
}

.garden-name {
  font-family: $secondary-font;
  font-size: 2em;
}

.garden-form {
  margin-top: 20px;
  width: 80%;
  height: 6rem;
  border-radius: 5px;
  background-color: white;

  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  button {
    color: white !important;
  }
  form {
    display: flex;
    justify-content: center;
  }
  input {
    width: 80%;
    padding: 5px;
    font-family: "Lato";
    font-size: 0.875rem;
    border-radius: 5px;
    margin-top: 12px;
  }
}

.garden-form-btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
////

.logo {
  margin-top: 10px;
}

.garden_add-button {
  margin-top: 10px;
}

hr {
  width: 80%;
}

.appointment__actions {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.appointment__card-left {
  width: 80%;
}

.vegetable-info {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  justify-content: space-around;
}

.selected {
  background-color: #328674 !important;
}

////////// Dashboard Styling
.confirm-btn {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: #328674 !important;
}
.danger-btn {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: #ec654d !important;
  color: white !important;
  margin-left: 10px !important;
}

.picker-layout {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.scheduler {
  height: 100%;
  background-color: #0000006b;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.scheduler-layout {
  position: absolute;
  width: 590px;
  top: 15%;
  left: 45%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.scheduler-button-layout {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.notifications-title {
  font-family: $primary-font !important;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.css-dmmspl-MuiFormGroup-root {
  flex-direction: row !important;
}

.css-1nrlq1o-MuiFormControl-root {
  text-align: center !important;
}

.css-j204z7-MuiFormControlLabel-root {
  display: flex !important;
  flex-direction: column-reverse !important;
}

.css-u4tvz2-MuiFormLabel-root {
  margin-top: 10px;
  margin-bottom: 10px;
}

.css-ahj2mt-MuiTypography-root {
  height: 5px !important;
  font-family: $secondary-font !important;
}

// .MuiTypography-root{
//   height: 10px!important;
// }

////delete form
.form {
  width: 590px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  position: fixed;
  top: 15%;
  left: 45%;
}
.delete-from-title {
  font-family: $primary-font !important;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.delete-buttons {
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.delete-modal {
  height: 100%;
  background-color: #0000006b;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.cancel-btn {
  color: black !important;
  margin-left: 20px !important;
  border: solid 1px black !important;
}

.dashboard-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;
}

///dash nav
// .dashboard{
//  // font-size: 2em;
// }

///// notifications modal
.dashboard {
  .swal-modal {
    margin-left: 326px;
  }
}

///delete form
