.picker-layout {
  display: flex;
  // height: 60px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  // background-color: #2bb449;
  // background-image: url("../images/foggy-birds.png");
  // padding: 3.5em;
}
.scheduler-button-layout {
  display: flex;
  align-self: flex-start;
}
.daypicker-layout {
}

.timepicker-layout {
}
